@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100x;
  background: #f57922;
  right: 0;
  color: #f57922;
}

.menuList a.active {
  background: #f57922;
  color: #fff;
  border-radius: 0.5rem;
}
.z-1 {
  z-index: 1;
}
icon {
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}

a.orange {
  color: #f57922;
  text-decoration: underline;
  cursor: pointer;
}

.custom-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  max-width: 80%;
  object-fit: contain;
}

card {
  background: url(/src/Assets/testimonial-bg.png);
}
