@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background : white
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100x;
  background: #F57922;
  right : 0;
  color: #F57922;
}

icon{
  cursor: pointer;
}

card{
  background: url(/src/Assets/testimonial-bg.png);
}